/* App.css */
.container-geral {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f5f7; /* Fundo cinza bem clarinho */
  font-family: 'Inter', sans-serif;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.logo {
  color: #064232; /* Verde escuro da imagem */
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 8px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 10px;
  font-weight: 700;
  color: #444;
  margin-bottom: 8px;
  display: block;
}

.forgot {
  font-size: 9px;
  color: #666;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #f0f2f4; /* Cinza dos inputs */
  box-sizing: border-box;
}

.btn-signin {
  width: 100%;
  padding: 14px;
  background-color: #064232;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  margin: 25px 0;
  border-top: 1px solid #eee;
  position: relative;
}

.divider span {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0 10px;
  font-size: 10px;
  color: #aaa;
}

.social-login {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.btn-social {
  flex: 1;
  padding: 12px;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}

.signup-text {
  font-size: 12px;
  color: #444;
}

.signup-text a {
  color: #064232;
  font-weight: 700;
  text-decoration: none;
}